html, body{
	padding: 0;
	margin: 0;

}
body {
	background-color: #eee;

}
body, div, p{
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	line-height: 22px;
	color: #333;
	-webkit-text-size-adjust: none;

}
h1, h2, h3, h4, h5, h6{
	line-height: 1;
	color: #330;
	font-weight: bold;
	margin: 20px 0 10px 0;

}
h1, h2, h3{
	font-size: 18px;

}
h4, h5, h6{
	font-size: 16px;

}
p{
	margin: 0 0 10px 0;

}
a, a:link, a:active, a:visited, a:hover{
	color: #333;
	text-decoration: underline;

}
pre{
	font-size: 12px;
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;

}
#page nav{
	display: none;

}
#header{
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	line-height: 40px;
	height: 40px;
	padding: 0 50px;

}
#header a{
	background: center center no-repeat;
	background-image: url(../images/menu.png);
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 4px;
	left: 4px;

}

#header a.right{
	left: auto;
	right: 10px;

}
#content{
	padding: 20px;

}

